APP_ENV=local
APP_DEBUG=true
APP_KEY=32位随机key

DB_HOST=主机:3306
DB_DATABASE=数据库名
DB_USERNAME=用户名
DB_PASSWORD=密码

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
